<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="code/1-Introduction.ipynb">Introduction</a></td> </tr>
      <tr> <td>09:50</td>  <td><a href="code/2-Getting_started_with_Pytorch.ipynb">Getting started with PyTorch</a></td> </tr>
      <tr> <td>10:20</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td><a href="code/3-Implement_a_deep_neural_network.ipynb">Implement a deep neural network</a></td> </tr>      
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="code/4-Define_the_optimization_problem.ipynb">Define the optimization problem</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="code/5-Implement_the_training_loop.ipynb">Implement the training loop</a> pt 1</td> </tr>
      <tr> <td>10:20</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Implement the training loop pt 2</td> </tr>
      <tr> <td>11:00</td>  <td>Saving and loading PyTorch models</td> </tr>
      <tr> <td>11:10</td>  <td><a href="code/6-Monitoring_and_logging_the_training_process.ipynb">Monitoring and logging the training process</a></td> </tr>
      <tr> <td>11:45</td>  <td><a href="" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
