<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction</td> </tr>
      <tr> <td>09:50</td>  <td>Getting started with PyTorch</td> </tr>
      <tr> <td>10:20</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Implement a deep neural network</td> </tr>      
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Define the optimization problem</td> </tr>
      <tr> <td>09:40</td>  <td>Implement the training loop</td> </tr>
      <tr> <td>10:20</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Saving and loading PyTorch models</td> </tr>
      <tr> <td>10:50</td>  <td>Monitoring and logging the training process</td> </tr>
      <tr> <td>11:45</td>  <td><a href="" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
